@page
@using DevExpress.AspNetCore
@using DevExpress.AspNetCore.RichEdit
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">KeyStone Report Editor Test</h1>
</div>

@(Html.DevExpress().RichEdit("DemoRichEdit")
    .Views(v => v.ViewType(ViewType.Simple))
    .Ribbon(r => r.ActiveTabIndex(6))
    .Height(600)
    .ConfirmOnLosingChanges(c => c.Enabled(false))
)
